<div class="container-fluid">
  <h1>Send messages to everyone online!</h1>
  <form class="form-inline" (ngSubmit)="sendMessage()" #messageForm="ngForm">
      <div class="row">
          <div class="col">
              <label class="sr-only" for="message">Message</label>
              <input type="text" class="form-control" id="message" placeholder="your message..." name="message" [(ngModel)]="message" required>
          </div>
          <div class="col">
              <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
          </div>
      </div>
  </form>
  <div style="padding:10px"></div>
  <div class="row" *ngIf="messages.length > 0">
      <div class="table-responsive">
          <table class="table table-striped">
                <tr *ngFor="let message of messages">
                    <td width="20%">{{message.userName}}</td>
                    <td width="80%">{{message.message}}</td>
                </tr>
          </table>
      </div>
  </div>
  <div class="row" *ngIf="messages.length <= 0">
      <span>No messages</span>
  </div>
</div>