<div class="status" *ngIf="usersStatus">
  <div *ngFor='let status of usersStatus.usersStatus' class="col-sm-5 square alert text-center" [class.alert-danger]="!status.online"
    [class.alert-success]="status.online">
    <p><strong>{{status.userName}}</strong></p>
    <p>{{getConnection(status.online)}}</p>
  </div>
</div>
<div class="gameSpace" *ngIf="game">
  <div *ngIf="switchCards" class="overlay playingCards faceImages">
    <table class="table scorecard table-striped table-dark">
      <thead>
        <tr>
          <th>User Name</th>
          <th *ngFor='let in of counter(10)  ; let i = index'>{{i + 1}}</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let score of newRound.scoreCard'>
          <th>{{score.userName}}</th>
          <th *ngFor='let point of score.points'>{{point}}</th>
          <th *ngFor='let in of counter(10-score.points.length)'></th>
          <th>{{score.total}}</th>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info callToAction" role="alert">
      {{getCallToActionString()}}
    </div>
    <ul class="gametable">
      <label *ngFor="let card of newRound.cards" for="{{card.name | lowercase}}{{card.suit}}" class="card rank-{{card.name | lowercase}} {{card.suit}}"
        [class.activePlayer]="!newRound.wait">
        <span class="rank">{{card.name}}</span>
        <div ngSwitch="{{card.suit}}">
          <span *ngSwitchCase="'clubs'" class="suit">&clubs;</span>
          <span *ngSwitchCase="'spades'" class="suit">&spades;</span>
          <span *ngSwitchCase="'diams'" class="suit">&diams;</span>
          <span *ngSwitchCase="'hearts'" class="suit">&hearts;</span>
        </div>
        <input class="selectableCards" *ngIf="!newRound.wait" type="checkbox" id="{{card.name | lowercase}}{{card.suit}}" value="select" />
      </label>
      <label *ngFor="let card of newRound.switchedCards" for="{{card.name | lowercase}}{{card.suit}}" class="disabledCard card rank-{{card.name | lowercase}} {{card.suit}}"
        [class.activePlayer]="!newRound.wait">
        <span class="rank">{{card.name}}</span>
        <div ngSwitch="{{card.suit}}">
          <span *ngSwitchCase="'clubs'" class="suit">&clubs;</span>
          <span *ngSwitchCase="'spades'" class="suit">&spades;</span>
          <span *ngSwitchCase="'diams'" class="suit">&diams;</span>
          <span *ngSwitchCase="'hearts'" class="suit">&hearts;</span>
        </div>
      </label>
    </ul>
    <div class="switchButton">
      <button type="button" class="btn btn-warning" [class.invisible]="newRound.wait" (click)="sendSwitchableCards()">
        Switch
      </button>
    </div>
  </div>
  <div class="rounds">
    <strong>Round: {{game.round}}/10</strong>
  </div>
  <div class="row">
    <div *ngFor='let enemyHand of game.hands.reverse()' class="col-sm-4 enemyHand playingCards faceImages rotateHand">
      <ul class="hand">
        <li *ngFor='let in of counter(enemyHand.noCards)' class="card back">*</li>
      </ul>
      <div [class.activePlayer]="isActivePlayer(enemyHand.userName)">{{enemyHand.userName}}</div>
      <div>{{enemyHand.rank}}</div>
    </div>
  </div>
  <div class="row">
    <div class="throwing_deck playingCards faceImages">
      <ul class="deck">
        <li *ngFor="let card of game.deck" class="card rank-{{card.name | lowercase}} {{card.suit}}" (click)="clickedOn(card)">
          <span class="rank">{{card.name}}</span>
          <div ngSwitch="{{card.suit}}">
            <span *ngSwitchCase="'clubs'" class="suit">&clubs;</span>
            <span *ngSwitchCase="'spades'" class="suit">&spades;</span>
            <span *ngSwitchCase="'diams'" class="suit">&diams;</span>
            <span *ngSwitchCase="'hearts'" class="suit">&hearts;</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="stuff row">
      <div class="passButton">
        <button type="button" class="btn btn-warning" [class.invisible]="!isActivePlayer(user)" [attr.disabled]="isActivePlayer(user)? null:true"
          (click)="pass()">
          Pass
        </button>
      </div>
      <div class="ownHand playingCards faceImages rotateHand">
        <div [class.activePlayer]="isActivePlayer(user)">{{user}}</div>
        <div [class.activePlayer]="isActivePlayer(user)">{{game.ownRank}}</div>
        <ul class="hand">
          <li *ngFor="let card of game.cards" class="card rank-{{card.name | lowercase}} {{card.suit}}"
            [class.activePlayer]="isActivePlayer(user)" (click)="isActivePlayer(user) && clickedOn(card)">
            <span class="rank">{{card.name}}</span>
            <div ngSwitch="{{card.suit}}">
              <span *ngSwitchCase="'clubs'" class="suit">&clubs;</span>
              <span *ngSwitchCase="'spades'" class="suit">&spades;</span>
              <span *ngSwitchCase="'diams'" class="suit">&diams;</span>
              <span *ngSwitchCase="'hearts'" class="suit">&hearts;</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="gameSpace endGame" *ngIf="endStatistics">
  <table class="table scorecard table-striped table-dark">
    <thead>
      <tr>
        <th>User Name</th>
        <th *ngFor='let in of counter(10)  ; let i = index'>{{i + 1}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let score of endStatistics.scoreCard'>
        <th>{{score.userName}}</th>
        <th *ngFor='let point of score.points'>{{point}}</th>
        <th *ngFor='let in of counter(10-score.points.length)'></th>
        <th>{{score.total}}</th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total games played</h5>
          <p class="card-text"><span class="badge badge-dark">{{endStatistics.stats.gamesPlayed}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total points earned</h5>
          <p class="card-text"><span class="badge badge-dark">{{endStatistics.stats.sumPointsEarned}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Number of games won</h5>
          <p class="card-text"><span class="badge badge-dark">{{endStatistics.stats.timesWon}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>