<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Wellcome to President!</h1>
      <p>Sign up or Log in to get started</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup with email</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login with email</a>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/facebook-login">Signup/login with facebook</a> -->
      </p>
    </div>
  </div>
</main>