.gameSpace {
    position: relative;
    width: 100%;
    background-color: aqua;
    height: calc(100vh - 56px);
    height: -o-calc(100vh - 56px); /* opera */
    height: -webkit-calc(100vh - 56px); /* google, safari */
    height: -moz-calc(100vh - 56px); /* firefox */

    .ownHand{
        position: absolute;
        width: min-content;
        bottom: 0;
        left: 40%;

        li.activePlayer:hover{
            bottom: 1em;
            cursor: pointer;
        }
    }

    .passButton{
       position: absolute;
       bottom: 40px;
       left: 300px;
    }

    .enemyHand{
        width: min-content;

        .activePlayer{
            color: brown;
        }
    }

    .throwing_deck{
        position: absolute;
        width: min-content;
        left: 50%;
        top: calc(50vh - 140px);
        top: -o-calc(50vh - 140px); /* opera */
        top: -webkit-calc(50vh - 140px); /* google, safari */
        top: -moz-calc(50vh - 140px); /* firefox */
    }
}
