<div class="gameSpace">
  <div *ngFor='let enemyHand of enemyHands' class="enemyHand playingCards faceImages rotateHand">
    {{enemyHand.userName}}
    <ul class="hand">
      <li *ngFor='let in of counter(enemyHand.noCards) ; let i = index'><div class="card back">*</div></li>
    </ul>
  </div>
  <div class="ownHand playingCards faceImages rotateHand">
    <ul class="hand">
      <li *ngFor="let card of hand" class="card rank-{{card.name | lowercase}} {{card.suit}}">
          <span class="rank">{{card.name}}</span>
          <div ngSwitch="{{card.suit}}">
            <span *ngSwitchCase="'clubs'" class="suit">&clubs;</span>
            <span *ngSwitchCase="'spades'" class="suit">&spades;</span>
            <span *ngSwitchCase="'diams'" class="suit">&diams;</span>
            <span *ngSwitchCase="'hearts'" class="suit">&hearts;</span>
          </div>
      </li>
    </ul>
  </div>
</div>