.gameSpace {
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: aqua;
    height: calc(100vh - 56px);
    height: -o-calc(100vh - 56px); /* opera */
    height: -webkit-calc(100vh - 56px); /* google, safari */
    height: -moz-calc(100vh - 56px); /* firefox */


    >.overlay {
        z-index: 100;
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        padding: 0;
        transition: opacity .5s;

        >.callToAction{
            margin: auto;
            width: 500px;
            top: 20%;
        }

        >.table{
            margin: auto;
            width: 500px;
            top: 30%;
        }

        label.activePlayer:hover{
            bottom: 1em;
            cursor: pointer;
        }

        .disabledCard{
            background: lightgray;
        }
    }

    > .rounds{
        float: right;
        padding: 20px;
    }

    .ownHand{
        position: absolute;
        width: min-content;
        bottom: 0;
        left: 40%;

        li.activePlayer:hover{
            bottom: 1em;
            cursor: pointer;
        }
    }

    .passButton{
       position: absolute;
       bottom: 40px;
       left: 300px;
    }

    .enemyHand{
        width: min-content;
        float: right;
        padding: 0px 80px 0px 80px;


        .activePlayer{
            color: brown;
        }
    }

    .throwing_deck{
        position: absolute;
        width: min-content;
        left: 50%;
        top: calc(50vh - 140px);
        top: -o-calc(50vh - 140px); /* opera */
        top: -webkit-calc(50vh - 140px); /* google, safari */
        top: -moz-calc(50vh - 140px); /* firefox */
    }
}
