<div class="row username">
  <h1>Wellcome back {{userName}}</h1>
</div>
<div *ngIf="stats" class="row">
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total games played</h5>
        <p class="card-text"><span class="badge badge-dark">{{stats.gamesPlayed}}</span></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total points earned</h5>
        <p class="card-text"><span class="badge badge-dark">{{stats.sumPointsEarned}}</span></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Number of games won</h5>
        <p class="card-text"><span class="badge badge-dark">{{stats.timesWon}}</span></p>
      </div>
    </div>
  </div>
</div>
