<div class="row">
    <div class="col-md-6 new-user-alert">
        <div *ngIf="brandNew" class="alert alert-success" role="alert">
            <strong>All set!</strong> Please login with your account
        </div>
        <h2>Login</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" novalidate (ngSubmit)="login(f)">
            <div class="form-group">
                <label for="userName">User Name</label>
                <input id="userName" type="text" required name="userName" class="form-control" placeholder="User Name" [ngModel]="credentials.userName"
                    #userName="ngModel" tmFocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required name="password" placeholder="Password"
                    ngModel>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner>
            </div>
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
            </div>
        </form>
    </div>
</div>